<%= modal_form_wrapper title: t(".title") do %>
  <%= turbo_frame_tag :simplefin_accounts_lazy, src: simplefin_accounts_index_lazy_path, loading: :lazy do %>
    <p>Downloading accounts from Simplefin...</p>
  <% end %>
<% end %>